<div class="d-flex flex-column h-100">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [clienteItem]="'Cliente'" [currentPage]="'Adicionar cliente'"></app-breadcrumb>
    </div>
  </div>
  <div class="container__header">
    <h3>Dados cadastrais</h3>
    <hr class="line">
    <img [src]="openIconUrl">
    <a>Campos obrigatórios</a>
  </div>
  <div>
    <form [formGroup]="clienteForm" (ngSubmit)="OnSubmit()"  novalidate>
      <div class="form-group">
        <label for="inputIdentificacao">CPF/CNPJ</label><img [src]="openIconUrl">
        <input type="text" class="form-control" id="inputIdentificacao" name="inputIdentificacao"
          formControlName="inputIdentificacao" required appIdentificadorValidator placeholder="00.000.000/0000-00"
          [ngClass]="{ 'is-invalid': clienteForm.get('inputIdentificacao')?.hasError('required') }">
        <div *ngIf="clienteForm.get('inputIdentificacao')?.hasError('required')" class="error-message" >
          {{emailError}}
        </div>
      </div>
      <div class="form-row g-3">
        <div class="form-group lg-input" >
          <label for="inputNome">Nome</label> <img [src]="openIconUrl">
          <input type="text" class="form-control" id="inputNome" name="inputNome" formControlName="inputNome" placeholder="Insira o nome do cliente" required
          [ngClass]="{ 'is-invalid': clienteForm.get('inputNome')?.hasError('required') }">
          <div *ngIf="clienteForm.get('inputNome')?.hasError('required')" class="error-message">
            {{nomeError}}
          </div>
        </div>

        <div class="form-group" *ngIf="nomeRefService.mostrarDivInputRef">
          <label for="inputRef">{{nomeRefService.nome_ref}} </label> <img [src]="openIconUrl">
          <input type="text" class="form-control" id="inputRef" name="inputRef"
            formControlName="inputRef" [placeholder]="nomeRefService.placeholder" required
            [ngClass]="{ 'is-invalid': clienteForm.get('inputRef')?.hasError('required') }">
        </div>
      </div>
    </form>
  </div>
  <div class="content__footer">
    <button class="btn btn-secondary" (click)="voltar()">Cancelar</button>
    <button class="btn btn-primary" (click)="OnSubmit()" [disabled]="!clienteForm.valid" type="submit">Salvar cliente</button>
  </div>
</div>
