/* cliente-home.component.scss */

.main-content {
  flex: 1; /* Garante que o conteúdo principal ocupe o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 99px; /* Adiciona espaçamento entre os elementos do header */

    h1 {
      margin: 0;
      color: var(--primary); /* Use a variável de cor primária ou ajuste conforme necessário */
    }

    button {
      background-color: var(--success); /* Use a variável de cor de sucesso ou ajuste conforme necessário */
      color: var(--dark); /* Use a variável de cor escura ou ajuste conforme necessário */
      padding: 10px;
      border: none;
      cursor: pointer;
    }
  }

  .client-list {
    width: 100%;
    flex: 1; /* Faz com que a lista de clientes ocupe o espaço restante */

    .client-card {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--gray-dark);

      h2 {
        margin-bottom: 5px;
        color: var(--primary);
      }

      p {
        margin-bottom: 10px;
        color: var(--light);
      }

      button {
        margin-top: 5px;
        background-color: var(--success);
        color: var(--dark);
        padding: 8px;
        border: none;
        cursor: pointer;
      }

      img {
        max-width: 100%;
        align-self: center;
      }
    }
  }

  @media (max-width: var(--breakpoint-lg)) {
    .client-card {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
  }

  /* Adicione outras regras de estilo responsivas conforme necessário usando as variáveis de breakpoint */
}
