<div>
  <div class="d-flex justify-content-between">
    <h3>Clientes</h3>
    <button class="btn btn-primary" (click)="adicionarCliente()">Adicionar cliente</button>
  </div>

  <div class="client-list">
    <div class="table" *ngIf="(clientes$ | async) && (clientes$ | async)!.length > 0; else emptyList">
      <div class="table-resposive overflow-auto">
        <table class="table-dark table-hover">
          <thead>
            <tr>
              <th>Nome - CPF/CNPJ</th>
              <th>Situação</th>
              <th>Data do Cadastro</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let client of clientes$ | async">
              <td class="col-8"> <div>{{ client.nome }}</div>
                <div>{{formatarCpfCnpj(client.identificacao) }}</div></td>
              <td><span [ngClass]="getBadgeClass(client.situacao!)">{{ client.situacao }}</span></td>
              <td>{{ client.data_cadastro | date:'dd/MM/yyyy' }}</td>
              <td class="icon">
                <button class="bi bi-pencil" (click)="editarCliente(client)"><i class=""><img [src]="editIcon">
                </i></button>
                <button class="bi bi-trash" (click)="deleteClient(client)"><i class=""> <img [src]="delIcon"> </i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #emptyList>
      <div class="list-empty">
        <img src="./assets/projeto-cliente-1.png" alt="Lista vazia">
      </div>
    </ng-template>
  </div>
</div>
