@import '../../../../../src/styles.scss';

.client-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
  align-items: center;
  align-content: center;
  height: calc(90vh - $header-heigth);
}
