<div>
  <div class="d-flex justify-content-between">
    <h3>Clientes</h3>
    <button class="btn btn-primary" (click)="adicionarCliente()">Adicionar cliente</button>
  </div>

  <div class="client-list">
    <ng-container *ngIf="(clientes$ | async) && (clientes$ | async)!.length > 0; else emptyList">
      <div class="table-responsive overflow-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nome - CPF/CNPJ</th>
              <th>Situação</th>
              <th>Data do Cadastro</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientes$ | async">
              <td>{{ client.nome }}</td>
              <td>{{ client.identificacao }}</td>
              <td><span class="badge badge-primary">{{ client.situacao }}</span></td>
              <td>{{ client.data_cadastro | date }}</td>
              <td>
                <button class="btn btn-secondary icon" (click)="editarCliente(client)">Editar</button>
                <button class="btn btn-danger icon" (click)="deleteClient(client)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-template #emptyList>
      <img src="./assets/projeto-cliente-1.png" alt="Lista vazia">
    </ng-template>
  </div>
</div>
