$primary-color: #0069B3;
$secondary-color: #2F3337;
$accent-color: #0D6CF2;
$text-color: #CED4DA;
$placeholder-color: #6C757D;



.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #CED4DA;


  .logo-icon {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
    color: #D8E8FD;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;

  }

  p.text-muted {
    color: $placeholder-color;
    margin-bottom: 20px;
  }





  .input-group {
    position: relative;

  }



  .form-check {
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .btn-primary {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
  }


  .registration-link {
    margin-top: 20px;

    a {
      color: #0D6CF2;
      text-decoration: underline;
    }
  }

  p.mt-3 {
    color: $placeholder-color;
  }

}
