@import '../../../../../src/styles.scss'

.header
  fontSize: 14
  background-color: #212529
  width: 100%
  height: $header-heigth
  right: 0
  border-bottom: 0.001px solid rgba(255, 253, 253, 0.075)
  display: flex
  justify-content: flex-end
  align-items: center
  position: fixed

  .avatar-container
    margin-right: 20px

    svg
      cursor: pointer

.dropdown-content
  z-index: 1
  position: absolute
  right: 0
  top: 60px
  width-max: 200px
  background: #D8E8FD
  border-radius: 5px
  border: 1px #CED4DA solid
  background-color: #fff
  margin-right: 20px
  padding: 8px

.dropdown-item
  width-max: 119px
  cursor: pointer
  font-size: 14px
  padding: 8px
  border-radius: 4px
  align-items: center
  flex-direction: column
  justify-content: center
  color: #2F3337

  &:hover
    border-radius: 4px
    background-color: #D8E8FD
    color: #0D6CF2
