footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background: #212529
  border-top: 0.001px solid rgba(255, 253, 253, 0.075)

  display: flex
  justify-content: end
  color: #6C757D
  font-size: 14px
  text-align: center
  letter-spacing: 0.50

a
  color: #6C757D
  padding: 0 5px
  text-decoration: underline

a:hover
  color: #6C757D
