<!-- BEGIN: endereco-cadastro.component.html -->
<div class="endereco">
  <div class="endereco-content">
    <h2>Novo Endereco</h2>
    <form>
      <div>
        <label for="logradouro">Logradouro:</label>
        <input type="text" id="logradouro" name="logradouro">
      </div>
      <div>
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero">
      </div>
      <div>
        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro" name="bairro">
      </div>
      <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade">
      </div>
      <div>
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado">
      </div>
      <div>
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep">
      </div>
      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
<!-- END: endereco-cadastro.component.html -->
