<div class="modal-content">
  <div class="modal-header">
    <img class="avatar" [src]="iconAdd">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo endereço</h1>
    <hr class="line">
    <img [src]="openedIconUrl">
    <a>Campos obrigatórios</a>
    <button type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="enderecoAddForm">
      <div class="form-group-row">
        <div class="form-group col">
          <label for="cep">CEP</label>
          <img [src]="openedIconUrl">
          <input type="text" id="cep" name="cep" class="form-control" formControlName="cep" required>
        </div>
        <div class="form-group col-2">
          <label for="logradouro">Logradouro</label>
          <img [src]="openedIconUrl">
          <input type="text" id="logradouro" name="logradouro" class="form-control" formControlName="logradouro" required>
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group col">
          <label for="numero">Número</label>
          <img [src]="openedIconUrl">
          <input type="text" id="numero" name="numero" class="form-control" formControlName="numero" required>
        </div>
        <div class="form-group col-4">
          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" name="complemento" class="form-control" formControlName="complemento" required>
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group col">
          <label for="bairro">Bairro</label>
          <img [src]="openedIconUrl">
          <input type="text" id="bairro" name="bairro" class="form-control" formControlName="bairro" required>
        </div>
        <div class="form-group col">
          <label for="cidade">Cidade</label>
          <img [src]="openedIconUrl">
          <input type="text" id="cidade" name="cidade" class="form-control" formControlName="cidade" required>
        </div>
        <div class="form-group col">
          <label for="estado">Estado</label>
          <img [src]="openedIconUrl">
          <input type="text" id="estado" name="estado" class="form-control" formControlName="estado" required>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isPrincipal" formControlName="isPrincipal">
        <label class="form-check-label" for="rememberMe">Endereço principal</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary">Salvar</button>
  </div>
</div>
