<div class="modal-content modal-dialog-centered modal-lg">
  <div class="modal-header">
    <img alt="Adicionar Icone" class="avatar" [src]="iconAdd">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo endereço</h1>
    <hr class="line">
    <img alt="Icone Obrigatorio" [src]="openedIconUrl">
    <a>Campos obrigatórios</a>
    <button (click)="voltar()" type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="enderecoAddForm" class="needs-validation" novalidate>
      <div class="form-group-row">
        <div class="form-group  col">
          <label for="cep">CEP</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="cep" name="cep" class="form-control" formControlName="cep" placeholder="00.000-000" required
            [ngClass]="{ 'is-invalid': enderecoAddForm.get('cep')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('cep')?.hasError('required')" class="invalid-feedback">
            Insira um CEP válido
          </div>
        </div>
        <div class="form-group col-2">
          <label for="logradouro">Logradouro</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="logradouro" name="logradouro" class="form-control" formControlName="logradouro"
            required [ngClass]="{ 'is-invalid': enderecoAddForm.get('logradouro')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('logradouro')?.hasError('required')" class="invalid-feedback">
            Insira um logradouro válido
          </div>
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group col">
          <label for="numero">Número</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="numero" name="numero" class="form-control" formControlName="numero" required
            [ngClass]="{ 'is-invalid': enderecoAddForm.get('numero')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('numero')?.hasError('required')" class="invalid-feedback">
            Insira um número válido
          </div>
        </div>
        <div class="form-group col-4">
          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" name="complemento" class="form-control" formControlName="complemento">
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group col">
          <label for="bairro">Bairro</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="bairro" name="bairro" class="form-control" formControlName="bairro" required
            [ngClass]="{ 'is-invalid': enderecoAddForm.get('bairro')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('bairro')?.hasError('required')" class="invalid-feedback">
            Insira um bairro válido
          </div>
        </div>
        <div class="form-group col">
          <label for="cidade">Cidade</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="cidade" name="cidade" class="form-control" formControlName="cidade" required
            [ngClass]="{ 'is-invalid': enderecoAddForm.get('cidade')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('cidade')?.hasError('required')" class="invalid-feedback">
            Insira uma cidade válida
          </div>
        </div>
        <div class="  form-group col">
          <label for="estado">Estado</label>
          <img alt="" [src]="openedIconUrl">
          <input type="text" id="estado" name="estado" class="form-control" formControlName="estado" required
            [ngClass]="{ 'is-invalid': enderecoAddForm.get('estado')?.hasError('required') }">
          <div *ngIf="enderecoAddForm.get('estado')?.hasError('required')" class="invalid-feedback">
            Insira um estado válido
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isPrincipal" formControlName="isPrincipal">
        <label class="form-check-label" for="rememberMe">Endereço principal</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="voltar()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" (click)="onSubmit()" [disabled]="!enderecoAddForm.valid" class="btn btn-primary">Salvar</button>
  </div>
</div>
