.main-container
  display: flex
  flex-direction: row
  height: 100%
  width: 100%
  justify-content: center


.row
  flex: 1

.main-frame
  display: flex
  flex: 3
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 12px

