@import '../../../../../src/styles.scss'

.user-profile
  width: 100%
  height: 100%
  display: flex

.main-content
  width: 100%
  height: 100%

.user-profile__content
  padding-left: 20px
  padding-top: 20px
  padding-right: 43px
