<div class="modal-content modal-dialog-centered modal-lg">
  <div class="modal-header">
    <img alt="avatar" class="avatar" [src]="iconEdit">
    <h5 class="modal-title fs-5" id="staticBackdropLabel">Editar Usuário</h5>
    <hr class="line">
    <img alt="" [src]="openedIconUrl">
    <a>Campos obrigatórios</a>
    <button (click)="voltar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioEditForm" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="name">Nome</label>
        <img alt="" [src]="openedIconUrl">
        <input type="text" id="name" name="name" class="form-control" formControlName="name" placeholder="Insira seu nome"
          required [ngClass]="{ 'is-invalid': usuarioEditForm.get('name')?.hasError('required') }">
        <div *ngIf="usuarioEditForm.get('name')?.hasError('required')" class="invalid-feedback">
          Insira um nome válido
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <img alt="" [src]="openedIconUrl">
        <input type="email" id="email" name="email" class="form-control" formControlName="email"
          placeholder="Insira seu e-mail" required [ngClass]="{ 'is-invalid': usuarioEditForm.get('email')?.hasError('required') }">
        <div *ngIf="usuarioEditForm.get('email')?.hasError('required')" class="invalid-feedback">
          Insira um e-mail válido
        </div>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="alterarSenha" formControlName="alterarSenha">
        <label class="form-check-label" for="alterarSenha">Alterar Senha</label>
      </div>

      <div *ngIf="usuarioEditForm.get('alterarSenha')?.value">
        <div class="form-group">
          <label for="senhaAtual">Senha Atual</label>
          <img alt="" [src]="openedIconUrl">
          <input type="password" id="senhaAtual" name="senhaAtual" class="form-control" formControlName="senhaAtual"
            placeholder="Insira sua senha atual" required
            [ngClass]="{ 'is-invalid': usuarioEditForm.get('senhaAtual')?.hasError('required') }">
          <div *ngIf="usuarioEditForm.get('senhaAtual')?.hasError('required')" class="invalid-feedback">
            Insira sua senha atual
          </div>
        </div>

        <div class="form-group">
          <label for="novaSenha">Nova Senha</label>
          <img alt="" [src]="openedIconUrl">
          <input type="password" id="novaSenha" name="novaSenha" class="form-control" formControlName="novaSenha"
            placeholder="Insira sua nova senha" required
            [ngClass]="{ 'is-invalid': usuarioEditForm.get('novaSenha')?.hasError('required') }">
          <div *ngIf="usuarioEditForm.get('novaSenha')?.hasError('required')" class="invalid-feedback">
            Insira sua nova senha
          </div>
        </div>

        <div class="form-group">
          <label for="confirmarNovaSenha">Confirmar Nova Senha</label>
          <img alt="" [src]="openedIconUrl">
          <input type="password" id="confirmarNovaSenha" name="confirmarNovaSenha" class="form-control"
            formControlName="confirmarNovaSenha" placeholder="Confirme sua nova senha" required
            [ngClass]="{ 'is-invalid': usuarioEditForm.get('confirmarNovaSenha')?.hasError('required') }">
          <div *ngIf="usuarioEditForm.get('confirmarNovaSenha')?.hasError('required')" class="invalid-feedback">
            Confirme sua nova senha
          </div>
        </div>
      </div>

      <!-- Restante do formulário de edição -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="voltar()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" (click)="onSubmit()" [disabled]="!usuarioEditForm.valid" class="btn btn-primary">Salvar</button>
  </div>
</div>
