<div class="telefone" *ngIf="mostrarTemplate">
  <form class="form-row" [formGroup]="telefoneForm" novalidate>
    <input id="inputTelefone" class="form-control col-4" type="text" formControlName="inputTelefone" placeholder="(xx) xxxxx xxxx" required>
    <button class="btn btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
    <button class="btn btn-primary" type="submit" (click)="adicionarTelefone()" [disabled]="telefoneForm.invalid">Adicionar telefone</button>
    <div *ngIf="telefoneForm.get('inputTelefone')?.hasError('required')" class="error-message">
      Digite um telefone válido
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="isPrincipal"
        formControlName="isPrincipal"
        [disabled]="telefoneForm.invalid"
      >
      <label class="form-check-label" for="isPrincipal">Telefone principal</label>
    </div>
  </form>
</div>
