// @import '../../../../styles.scss';
.form-row{
  margin-top: 20px;
  gap:20px !important;
}

.header {
  display: flex !important;
  flex-direction: row !important;
  gap: 8px !important;
  align-items: center;
  align-content: center;

  img {
    // margin: 9px;
    // padding: 9px;
    padding-bottom: 9px;
    padding-right: 9px;

  }

  .line {
    margin-top: 15px;
  }

}


.content__footer{
  gap: 8px !important;
  padding-right: 12px; // 20px - gap=8px
  padding-bottom: 12px; // 20px - gap=8px
}

.clienteEditar{
  display: flex !important;

  background-color: transparent !important;

}


.container__editar {
  // background-color: green;
  display: flex  !important;
  flex-direction: row  !important;
  gap: 20px !important;

}
