// @import '../../../../styles.scss';

.header{
  align-content: center !important;
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
  gap: 8px !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  justify-self: center !important;
  align-self: center !important;
  justify-items: center !important;
  padding-left: 12px !important; // 20px - gap=8px
}

.content__footer{
  gap: 8px !important;
  padding-right: 12px; // 20px - gap=8px
  margin-top: 100px !important;

}


