<!-- cliente-editar.component.html -->

<nav class="mx-auto" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/profile/cliente">Cliente</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
  </ol>
</nav>

<div class="container">
  <h1 class="text-center mt-5">Dados cadastrais</h1>

  <!-- Alerta Bootstrap para exibir mensagens -->
  <div *ngIf="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>

      <!-- Campo de Situação com cores diferentes -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <select class="form-select" id="situacao" aria-label="Situação" formControlName="situacao"
                  [ngStyle]="{'color': getColorForSituacao()}">
            <!-- Opções do select -->
            <option value="ativo" class="confirmed" >Ativo</option>
            <option value="inativo" class="alert">Inativo</option>
            <option value="negativado" class="danger">Negativado</option>
          </select>
          <label for="situacao">Situação</label>
        </div>
      </div>


      <app-list-link></app-list-link>
  <!-- Formulário de edição de cliente -->


  <form [formGroup]="clienteEditForm" class="mt-5 responsive" (ngSubmit)="onSubmit" >
    <div class="row">
      <!-- Campo de CPF/CNPJ readonly e desativado -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="identificador" placeholder="CPF/CNPJ"
                 formControlName="identificador" [readonly]="true" [disabled]="true">
          <label for="identificador">CPF/CNPJ</label>
        </div>
      </div>

      <!-- Campo de Data de Cadastro readonly -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="data" placeholder="Data de Cadastro"
                 formControlName="data_cadastro" [readonly]="true">
          <label for="data">Data de Cadastro</label>
        </div>
      </div>


      <!-- Campo de Nome -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nome" placeholder="Nome"
                 formControlName="nome">
          <label for="nome">Nome</label>
        </div>
      </div>

      <!-- Campo de Nome Referência -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nome_ref" placeholder="Nome da mãe ou Fantasia"
                 formControlName="nome_ref">
          <label for="nome_ref">Nome Referência</label>
        </div>
      </div>

      <!-- Campo de Inscrição Estadual -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="inscricao_estadual" placeholder="Inscrição Estadual"
                 formControlName="inscricao_estadual">
          <label for="inscricao_estadual">Inscrição Estadual</label>
        </div>
      </div>

      <!-- Campo de Inscrição Municipal -->
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="inscricao_municipal" placeholder="Inscrição Municipal"
                 formControlName="inscricao_municipal">
          <label for="inscricao_municipal">Inscrição Municipal</label>
        </div>
      </div>

      <!-- Botão de envio -->
      <div class="col-md-12 text-center mt-3">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </form>
</div>
