<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/profile/cliente">Cliente</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Editar Cliente</h1>
    </div>
    <div class="col-4">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{

          'btn-success': clienteEditForm.get('situacao')?.value === 'Ativo',
          'btn-warning': clienteEditForm.get('situacao')?.value === 'Inativo',
          'btn-danger': clienteEditForm.get('situacao')?.value === 'Negativado'
        }">
          Situação
        </button>
        <ul class="dropdown-menu" [class.show]="clienteEditForm.get('situacao')?.touched">
          <li><a class="dropdown-item" (click)="setSituacao('Ativo')">Ativo</a></li>
          <li><a class="dropdown-item" (click)="setSituacao('Inativo')">Inativo</a></li>
          <li><a class="dropdown-item" (click)="setSituacao('Negativado')">Negativado</a></li>
        </ul>
      </div>
    </div>
  </div>

<form [formGroup]="clienteEditForm">
  
</form>
