<div class="telefone-list">
  <table class="table-telefone w-100" *ngIf="(telefones$ | async) as telefones">
    <tbody>
      <tr *ngFor="let telefone of telefones; let i = index">
        <td>{{ telefone.tel }}</td>
        <td><span class="badge badge-primary" *ngIf="telefone.is_principal">Principal</span></td>
        <td class="icon">
          <button class="bi bi-pencil" (click)="editarTelefone(telefone)">
            <img [src]="editIcon">
          </button>
          <button class="bi bi-trash" (click)="removerTelefone(telefone.id!)">
            <img [src]="delIcon">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
