.modal{
  display: flex;
  padding: 16px;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid var(--Grayscale-500, #2F3337);
  background: var(--Grayscale-600, #212529);
  box-shadow: 0px 8px 20px 0px rgba(50, 53, 57, 0.20);
}
