label{
  color: #ced4da !important;
}

.email{
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}


.row{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;


}

.form-row{
  gap: 8px;
  margin: 0 !important;
  padding: 0 !important;
}
