.alert{
  padding: 16px !important;
  border-radius: 4px;
  height: 52px !important;
  width: 400px !important;
  border: 1px solid var(--Primary-50, rgba(8, 65, 145, 0.25)) !important;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 20px;
  background: var(--Primary-100, #D8E8FD);
  overflow: hidden;
}
