<!-- localizador-cadastro -->
<div class="d-flex flex-column h-100">
  <div class="row col-12">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <app-breadcrumb [clienteItem]="'Cliente'" [currentPage]="'Editar cliente'"></app-breadcrumb>
        </div>
      </div>
      <div class="header row">
        <h3>Localização</h3>
        <hr class="line">
        <img [src]="openedIconUrl">
        <a>Campos obrigatórios</a>
      </div>
      <div class="accordion col-12">
        <div class="accordion-item">
          <div class="accordion-item-header">
            <h5>Endereço</h5>
            <hr class="line-md">
            <img [src]="upIconUrl">
          </div>
          <div class="accordion-item-content col-10">
            <div class="link">+ Adicionar endereço </div>
            <!-- <app-endereco-view></app-endereco-view> -->
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            <h5>Telefone</h5>
            <hr class="line-md">
            <img [src]="upIconUrl">
          </div>
          <div class="accordion-item-content col-10">
            <div class="link">+ Adicionar contato </div>
            <!-- <app-telefone-view></app-telefone-view> -->
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            <h5>E-mail</h5>
            <hr class="line-md">
            <img [src]="upIconUrl">
          </div>
          <div class="accordion-item-content col-10">
            <div data-bs-toggle="modal" data-bs-target="" class="link">+ Adicionar e-mail </div>
            <!-- <app-email-view></app-email-view> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <app-list-link></app-list-link>
    </div>
  </div>
</div>
