// @IMPORT '../../../../../SRC/STYLES.SCSS';

.localizador{
  display: flex !important;
  width: 100% !important;
  height: 100%  !important;
  background-color: transparent !important;
  color: #CED4DA !important;

}


.container__localizador {
  display: flex  !important;
  flex-direction: row  !important;
  width: 100% !important;
  gap: 20px !important;

}




.header {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  padding-top: 20px;


  img {
    // margin: 9px;
    // padding: 9px;
    padding-bottom: 9px;
    padding-right: 9px;

  }

  .line {
    margin-top: 15px;
  }

}



.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0D6CF2;
  text-decoration: underline;
  cursor: pointer;

}


.content__footer
{
  padding-bottom: 0px !important;
  width: 80%;
}


// .endereco__content{
//   display: flex;
//   align-items: flex-start;
//   gap: 20px;
// }
