.localizador{

}

.container__localizador{
  // background-color: green;
  display: flex;
}

.accordion{
  width: 100%;
  height: calc(100vh - 250px);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  padding: 0px;
}

.accordion-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  justify-self: flex-start;
  padding: 0px;
}

.header{
  padding-left: 14px;

  img{
    // margin: 9px;
    // padding: 9px;
    padding-bottom: 9px;
    padding-right: 9px;

  }
  .line{
    margin-top: 15px;
  }

}
.col-10{
  max-width: 100%;
}


.accordion-item-header
{
  gap: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  flex-direction: row;

  h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #CED4DA;

  }

  .line-md{
    border: 2px solid #CED4DA;
    width: 90%;
    border-radius: 2px;

  }

}

.content__footer{
  // margin-bottom: 100px !important;
}


.link{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0D6CF2;
  text-decoration: underline;
  cursor: pointer;

}

.accordion-item-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
  overflow-y: auto;
  // max-height: 80vh;
  width: 100%;
}



