<div class="email">
  <form class="needs-validation form-row" [formGroup]="emailForm" novalidate>
      <input id="inputEmail" class="form-control col-6" type="email" formControlName="inputEmail"
        placeholder="example@example.com" required>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary" (click)="adicionarEmail()" [disabled]="emailForm.invalid">Adicionar</button>
  </form>
  <div *ngIf="emailForm.get('inputEmail')?.hasError('required')" class="error-message">
    Digite um email válido
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="isPrincipal" formControlName="isPrincipal"
      [disabled]="emailForm.invalid">
    <label style="color: #ced4da;" class="form-check-label" for="isPrincipal">E-mail principal</label>
  </div>
</div>
