<div class="ListLink">
  <div class="Links">
    <div class="Link" [routerLink]="['/profile/cliente/editar', clienteId]" linkType="DadosCadastrais" routerLinkActive="selected">
      <a>
        <div class="Label">Dados Cadastrais</div>
      </a>
    </div>
    <div class="Link" [routerLink]="['profile/cliente/editar/localizacao', clienteId]" linkType="Localizacao" routerLinkActive="selected">
      <a>
        <div class="Label">Localização</div>
      </a>
    </div>
    <div class="Link" [routerLink]="['profile/cliente/editar/representante', clienteId]" linkType="Representantes" routerLinkActive="selected">
      <a>
        <div class="Label">Representantes</div>
      </a>
    </div>
  </div>
</div>
