<div class="ListLink">
  <div class="Links">
    <div class="Link selected" routerLink="/profile/cliente/editar/{{ clienteId }}" linkType="DadosCadastrais">
      <a>
        <div class="Label">Dados Cadastrais</div>
      </a>
    </div>
    <div class="Link" routerLink="/profile/cliente/localizador/{{ clienteId }}" linkType="Localizacao">
      <a>
        <div class="Label">Localização</div>
      </a>
    </div>
    <div class="Link" routerLink="/profile/cliente/representante/{{ clienteId }}" linkType="Representantes">
      <a>
        <div class="Label">Representantes</div>
      </a>
    </div>
  </div>
</div>
