<!-- user-login.component.html -->

<div class="login-container">
  <svg width="40" height="49" viewBox="0 0 40 49" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M40 29.2715H39.9885C39.8263 34.4215 37.6526 39.307 33.927 42.8954C30.2014 46.4837 25.2159 48.4935 20.0244 48.5C8.98072 48.5128 -0.183646 39.6352 0.00279548 28.676C0.173421 18.6391 7.10291 13.7919 14.2792 12.6061C17.5436 12.0666 21.33 12.4772 24.6279 12.4819C24.6193 18.1473 20.8095 21.2478 17.0667 22.3651C14.6324 23.092 11.8938 25.3995 12.2643 29.7011C12.2817 31.5376 13.0295 33.2929 14.3449 34.5847C15.6603 35.8765 17.4367 36.6001 19.2872 36.5979C21.1377 36.5957 22.9124 35.8679 24.2247 34.573C25.537 33.2781 26.2805 31.521 26.2935 29.6844C26.2935 29.5512 26.2887 29.419 26.281 29.2877H26.2929L26.3855 12.4201C26.7263 8.83725 29.9121 0.534725 39.9655 0.5L39.9991 28.6294L40 29.2715Z" fill="#0069B3"/>
  </svg>

  <h2>Seja Bem vindo!</h2>
  <p style="color: #6C757D;">Insira seus dados e acesse a plataforma</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group" [class.has-error]="emailError">
      <label for="email">E-mail</label><img alt="obrigatorio_icon" [src]="openedIconUrl">
      <input type="email" id="email" name="email" class="form-control" required formControlName="email"
      placeholder="Insira seu e-mail!"
      [ngClass]="{ 'is-invalid': emailError }">
      <div *ngIf="emailError" class="error-message">
        {{ apiErrorMessage }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label><img alt="obrigatorio_icon" [src]="openedIconUrl">
      <div class="input-group">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" style="border-right: none !important;"
        id="password" name="password" class="form-control" required formControlName="password"
        placeholder="Insira sua senha!"  [ngClass]="{ 'is-invalid': passwordError }">
        <div class="input-group-append" (click)="togglePasswordVisibility()">
          <span class="input-group-text"  [ngClass]="{ 'is-invalid': passwordError }">
            <svg  width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 4.5C3.33333 4.5 2 8.5 2 8.5C2 8.5 3.33333 12.5 8 12.5C12.6667 12.5 14 8.5 14 8.5C14 8.5 12.6667 4.5 8 4.5Z" stroke="#6C757D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 8.5C10 7.39543 9.10457 6.5 8 6.5C6.89543 6.5 6 7.39543 6 8.5C6 9.60457 6.89543 10.5 8 10.5C9.10457 10.5 10 9.60457 10 8.5Z" stroke="#6C757D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </div>
      </div>
      <div *ngIf="passwordError" class="error-message">
        {{ apiErrorMessage }}
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
      <label class="form-check-label" for="rememberMe">Lembrar-me</label>
    </div>
    <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="onSubmit()">Entrar</button>
    <p class="mt-3"> <img alt="obrigatorio_icon" [src]="openedIconUrl"> campos obrigatórios</p>

  </form>

  <div class="registration-link">
    Não possui cadastro? <a [routerLink]="['/register']">Faça seu cadastro aqui!</a>
  </div>
</div>
