$primary-color: #0D6CF2;
$secondary-color: #2F3337;
$accent-color: #0D6CF2;
$text-color: #ced4da;
$placeholder-color: #6C757D;





$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-offcanvas:                  1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$sidebar-width: 52px;
$header-heigth: 60px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");




.btn {
  color:  white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  border-radius: 8px;
  align-items: center;
}

  .btn-primary {
    background-color: $primary-color;
    cursor: pointer;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(13, 108, 242, 0.25);
    }
    &:active {
      background-color: darken($primary-color, 20%);
    }
    &:disabled {
      background-color: $text-color;
      border: #ced4da;

    }
  }

  .btn-secondary {
    background: #E4EBF2;
    color: #2F3337;
    box-shadow: 0px 4px 4px rgba(156.29, 140.30, 237.10, 0.16);
    border: 1px #2F3337 solid;
    font-weight: 600;
  }

  .btn-danger {
    background: #DC3545;
    color: white;
    box-shadow: 0px 4px 4px rgba(220, 53, 69, 0.16);
    border: 1px rgba(33, 37, 41, 0.25) solid;
    font-weight: 600;
  }


.main
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content:center;
  align-items: center;

}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.container
{
  margin-top: 70px;
  display: flex;
  padding-left: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  min-width: 100vw;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");



form {
  align-items: center;
  min-width: 380px;

  .form-control {
    border-radius: 8px;
    border: 1px solid $placeholder-color;
    background-color: transparent !important;
    color: $text-color !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(13, 108, 242, 0.25);
    }

    &.is-invalid {
      border-color: #dc3545 !important;
    }
  }
}

.error-message {
  color: #dc3545;
  margin-top: 5px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: justify-center;
  width: 100%;
  max-width: 400px;
  margin-top: 32px;

  &:label {
    color: $placeholder-color !important;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    margin-bottom: 8px;
  }
}

body{
  width: 100%;
  height: 100%;
  background-color: #212529;
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  color: $text-color; // BEGIN: Added color property
}

.main
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content:center;
  align-items: center;

}



