// @import 'frontend\src\styles.scss'
@import '../../../../../src/styles.scss';
// @import '../../../../../src/styles.scss';

.sidebar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 52px;
  height: 100%;
  border-right: 1px solid var(--Grayscale-500, #2F3337);
  background: var(--Grayscale-600, #212529);

  .logo {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0D6CF2;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 30.24px;
      height: 36px;
    }
  }

  .nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 5px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;

      a {
        padding: 16px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
      }
    }

    li.selected {
      border-right: 2px solid #0D6CF2;

      path {
        stroke: #0D6CF2;
      }
    }
  }

  &__content {
    width: 52px !important;
    height: 100% !important;
    min-height: 768px !important;
    // width: 52px;
    // height: 620px;
    background: var(--Grayscale-600, #212529);
    border-right: 1px solid var(--Grayscale-500, #2F3337);
  }
}
