<!-- Card View do Endereço -->
<div class="endereco">
  <div class="card border-success">
    <div class="card-body" *ngIf="endereco$ | async as endereco">
      <p>{{ endereco.logradouro }}, {{ endereco.numero }}, {{ endereco.bairro }} </p>
      <p> {{ endereco.cidade }} - {{ endereco.estado }}</p>
      <p>CEP: {{ endereco.cep }}</p>
      <span class="badge badge-primary">{{ endereco.is_principal ? 'Sim' : 'Não' }}</span>
    </div>
    <div class="card-footer bg-transparent icon border-success">
      <button class="bi bi-pencil" ><i class=""><img [src]="editIcon"></i></button>
      <button class="bi bi-trash"><i class=""> <img [src]="delIcon"> </i></button>
    </div>
  </div>
</div>
