.card {
  border-radius: 8px !important;
  border: 1px solid var(--Grayscale-400, #6C757D) !important;
  background: var(--Grayscale-500, #2F3337) !important;
  color: #ced4da !important;
  gap: 16px !important;

  }
.card-body{
  width: 201px !important;
  height: 144px !important;
  align-self: stretch !important;


}
.card-footer{
  border-top: 1px solid var(--Grayscale-400, #6C757D) !important;
}
.endereco{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  display: flex;

}

.icon
{

  gap: 16px !important;
  margin: 16px !important;

}
.bi {
  background-color: transparent !important;
  color: var(--Grayscale-200, #E4EBF2) !important;
  border: none !important;
  transition: color 0.3s ease-in-out; // Add transition effect

  &:hover{
    color: var(--Grayscale-200, #E4EBF2) !important;
    transform: scale(1.1); // Add scale effect on hover
  }
}
