<div class="email-list">
  <div class="table" *ngIf="emails.length > 0">
    <div class="table-responsive overflow-auto">
      <table class="table-dark table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emails">
            <td>{{ email.email }}</td>
            <td><span class="badge badge-primary">{{ email.is_principal ? 'Sim' : 'Não' }}</span></td>
            <td class="icon">
              <button class="bi bi-pencil" ><i class=""><img [src]="editIcon"></i></button>
              <button class="bi bi-trash"><i class=""> <img [src]="delIcon"> </i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
